<%- include partials/header.ejs  %>


 <!--Navbar-->
<%- include partials/navbar.ejs  %>
<body>

<!--Main Section-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">  <%= title %> </h1>
      <h2><%= heading %></h2>
   <p> <%= para %> </p>
    </div>
  </main>
  

  <!--footer Section-->
 <%- include partials/footer.ejs  %>

  <!--Script Section-->

<%- include partials/scripts.ejs  %>


</body>

</html>




